[submodule "simdjson"]
	path = simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "editor"]
	path = editor
	url = https://github.com/Fabio3rs/editor
[submodule "segvcatch"]
	path = segvcatch
	url = https://github.com/Fabio3rs/segvcatch.git
[submodule "ninja"]
	path = ninja
	url = https://github.com/Fabio3rs/ninja
